*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 50px;
  min-height: 728px;
}

.divider{
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 20px 0;
}

.btn{
  display: inline-block;
  padding: 6px 12px;
  color: black;
  font-size: 22px;
  text-decoration: none;
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  transition: .5s;
  overflow: hidden;

  &:before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: black;
    z-index: -1;
    transition: .5s;
    top: 0;
    border-radius: 0 0 50% 50%;
  }

  &:hover{
    color: white;
    &:before {
      height: 180%;
    }
  }
}

.item{
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;

  &--r{
    background-color: yellow;
  }

  &--w{
    background-color: green;
  }
}

.fifo-wrapper, .strf-wrapper{
  margin-top: 30px;

  .stats{
    font-size: 32px;
    margin-top: 10px;
    min-height: 40px;
  }
}

.header{
  &-title{
    font-size: 32px;
    text-align: center;
  }

  &-text{
    font-size: 32px;
    margin-bottom: 10px;
  }

  .process {
    &-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .upload-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input {
          &-wrapper {
            margin-right: 10px;

            input[type=file] {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              outline: 0;
              opacity: 0;
              pointer-events: none;
              user-select: none;
            }

            .label{
              position: relative;
              width: 160px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              border: 2px dashed grey;
              border-radius: 4px;
              padding: 5px 10px;
              transition: border .3s ease;
              cursor: pointer;
              text-align: center;

              .title, i{
                display: block;
                color: grey;
                transition: .3s color;
              }

              i {
                display: block;
                font-size: 26px;
              }

              .title{
                font-size: 17px;
                width: 81%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              &:hover{
                border:2px solid #000;

                .title, i{
                  color:#000
                }
              }
            }
          }
        }
      }
    }

    &-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px;
    }
  }
}

.input-data {
  &-wrapper {
    width: 560px;
    margin: 30px auto;
  }

  &-title{
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
  }

  &-table{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  &-string{
    width: 100%;
    display: flex;
  }

  &-block{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    padding: 4px 8px;

    &:last-child{
      border-right: none;
    }
  }
}

.table {
  &-wrapper {
    overflow-x: auto;
    width: 100%;
    height: 628px;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
  }
  &-title{
    font-size: 32px;
    margin-bottom: 10px;
  }
}
.tact {
  &-wrapper {
    width: max-content;
    display: flex;
    align-items: center;
    margin-left: 28px;
  }
}

.task {
  &-wrapper {
    width: max-content;
  }
  &-string{
    display: flex;
    align-items: center;
    border-top: 1px solid black;
  }
  &-tacts{
    display: flex;
    align-items: center;
  }
  &-id{
    border-left: none;
  }
}